/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.public-woo-api {
 	position: relative;
 	max-width: 600px;
 	background-color: #fff;
 	padding: 10px 20px;
 	margin-top: 10px;
}

.public-woo-api h2 {
 	font-size: 18px;
 	text-transform: uppercase;
}

.public-woo-api th {
 	width: 140px;
 	font-size: 16px;
 	padding-top: 22px;
}

.public-woo-api .woo-endpoint {
	position: relative;
	color: green;
}

.public-woo-api .woo-endpoint strong {
	position: absolute;
	top: -20px;
	right: 0;
	cursor: pointer;
}

.public-woo-api input[type="text"] {
	width: 100%;
	height: 36px;
	font-size: 16px;
}